.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container .custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid;
    border-color: #e4e4ed;
    border-right-color: #0a4036;
    animation: s2 1s infinite linear;
}

@keyframes s2 {
    to {
        transform: rotate(1turn);
    }
}
