/* ListingView.css */

.container {
    margin: 24px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-title {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.detail {
    margin: 5px 0;
    color: #333;
    font-size: 1em;
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}
