/* SignupForm.css */
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: #777765;
    padding: 48px;
}

.form-title {
    font-size: 24px;
    color: #0a4036;
    font-weight: bold;
    margin-bottom: 16px;
}

.signup-form form {
    padding: 32px;
    min-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.signup-form input {
    display: block;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
}

.signup-form label {
    display: block;
    margin-bottom: 8px;
}

.signup-form-button {
    background-color: #0a4036; /* Primary color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 16px auto;
    width: 100%;
}

.signup-form-button:hover {
    background-color: darken(#0a4036, 10%);
}

.signup-form-button:disabled {
    opacity: 0.6;
}

.alternative-option {
    text-align: center;
    margin-top: 16px;
    color: #0a4036;
}
